<?xml version="1.0" ?>
<!--
/**
 * This file is part of the Magebit_AgenticCommerce package.
 *
 * @copyright Copyright (c) 2025 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<agentic_commerce>
			<general_settings>
				<enable_feed>0</enable_feed>
				<enable_checkout>0</enable_checkout>
			</general_settings>
            <agentic_checkout>
                <router_base_path>checkout_sessions</router_base_path>
            </agentic_checkout>
			<product_feed>
				<gtin_source>ean</gtin_source>
				<seller_name_source>general</seller_name_source>
				<return_window>14</return_window>
			</product_feed>
		</agentic_commerce>
	</default>
</config>
