<?xml version="1.0" ?>
<!--
/**
 * This file is part of the Magebit_AgenticCommerce package.
 *
 * @copyright Copyright (c) 2025 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magebit\AgenticCommerce\Api\ConfigInterface" type="Magebit\AgenticCommerce\Model\Config" />
    <preference for="Magebit\AgenticCommerce\Api\Data\FeedProductInterface" type="Magebit\AgenticCommerce\Model\Data\Feed\Product" />
    <preference for="Magebit\AgenticCommerce\Api\ProductMapperInterface" type="Magebit\AgenticCommerce\Model\Mapping\MapperComposite" />
    <preference for="Magebit\AgenticCommerce\Api\ProductFeedWriterInterface" type="Magebit\AgenticCommerce\Model\Export\Writer\CsvWriter" />
    <preference for="Magebit\AgenticCommerce\Model\Config\ProductFeedMapping\DataInterface" type="Magebit\AgenticCommerce\Model\Config\ProductFeedMapping\Data" />
    <preference for="Magebit\AgenticCommerce\Api\Data\IdempotencyInterface" type="Magebit\AgenticCommerce\Model\Idempotency\Model" />
    <preference for="Magebit\AgenticCommerce\Api\IdempotencyRepositoryInterface" type="Magebit\AgenticCommerce\Model\Idempotency\Repository" />
    <preference for="Magebit\AgenticCommerce\Api\CartValidatorInterface" type="Magebit\AgenticCommerce\Model\Validation\CartValidatorComposite" />

    <!-- Request Interfaces -->
    <preference for="Magebit\AgenticCommerce\Api\Data\Request\CreateCheckoutSessionRequestInterface" type="Magebit\AgenticCommerce\Model\Data\Request\CreateCheckoutSessionRequest" />
    <preference for="Magebit\AgenticCommerce\Api\Data\Request\UpdateCheckoutSessionRequestInterface" type="Magebit\AgenticCommerce\Model\Data\Request\UpdateCheckoutSessionRequest" />
    <preference for="Magebit\AgenticCommerce\Api\Data\Request\CompleteCheckoutSessionRequestInterface" type="Magebit\AgenticCommerce\Model\Data\Request\CompleteCheckoutSessionRequest" />
    <preference for="Magebit\AgenticCommerce\Api\Data\Request\DelegatePaymentRequestInterface" type="Magebit\AgenticCommerce\Model\Data\Request\DelegatePaymentRequest" />

    <!-- Supporting Data Interfaces -->
    <preference for="Magebit\AgenticCommerce\Api\Data\AddressInterface" type="Magebit\AgenticCommerce\Model\Data\Address" />
    <preference for="Magebit\AgenticCommerce\Api\Data\BuyerInterface" type="Magebit\AgenticCommerce\Model\Data\Buyer" />
    <preference for="Magebit\AgenticCommerce\Api\Data\ItemInterface" type="Magebit\AgenticCommerce\Model\Data\Item" />
    <preference for="Magebit\AgenticCommerce\Api\Data\PaymentMethodInterface" type="Magebit\AgenticCommerce\Model\Data\PaymentMethod" />
    <preference for="Magebit\AcpSpec\Api\DelegatePayment\AllowanceInterface" type="Magebit\AcpSpec\Data\DelegatePayment\Allowance" />
    <preference for="Magebit\AcpSpec\Api\DelegatePayment\RiskSignalInterface" type="Magebit\AcpSpec\Data\DelegatePayment\RiskSignal" />
    <preference for="Magebit\AgenticCommerce\Api\Data\LineItemInterface" type="Magebit\AgenticCommerce\Model\Data\LineItem" />
    <preference for="Magebit\AcpSpec\Api\AgenticCheckout\TotalInterface" type="Magebit\AcpSpec\Data\AgenticCheckout\Total" />
    <preference for="Magebit\AcpSpec\Api\AgenticCheckout\PaymentDataInterface" type="Magebit\AcpSpec\Data\AgenticCheckout\PaymentData" />
    <preference for="Magebit\AgenticCommerce\Api\Data\OrderInterface" type="Magebit\AgenticCommerce\Model\Data\Order" />
    <preference for="Magebit\AcpSpec\Api\AgenticCheckout\LinkInterface" type="Magebit\AcpSpec\Data\AgenticCheckout\Link" />
    <preference for="Magebit\AcpSpec\Api\AgenticCheckout\MessageInfoInterface" type="Magebit\AcpSpec\Data\AgenticCheckout\MessageInfo" />
    <preference for="Magebit\AcpSpec\Api\AgenticCheckout\MessageErrorInterface" type="Magebit\AcpSpec\Data\AgenticCheckout\MessageError" />

    <!-- Fulfillment Option Interfaces -->
    <preference for="Magebit\AgenticCommerce\Api\Data\FulfillmentOptionInterface" type="Magebit\AgenticCommerce\Model\Data\FulfillmentOption" />
    <preference for="Magebit\AgenticCommerce\Api\Data\FulfillmentOptionShippingInterface" type="Magebit\AgenticCommerce\Model\Data\FulfillmentOptionShipping" />
    <preference for="Magebit\AgenticCommerce\Api\Data\FulfillmentOptionDigitalInterface" type="Magebit\AgenticCommerce\Model\Data\FulfillmentOptionDigital" />

    <!-- Response Interfaces -->
    <preference for="Magebit\AgenticCommerce\Api\Data\Response\CheckoutSessionResponseInterface" type="Magebit\AgenticCommerce\Model\Data\Response\CheckoutSessionResponse" />
    <preference for="Magebit\AgenticCommerce\Api\Data\Response\CheckoutSessionWithOrderResponseInterface" type="Magebit\AgenticCommerce\Model\Data\Response\CheckoutSessionWithOrderResponse" />
    <preference for="Magebit\AgenticCommerce\Api\Data\Response\ErrorResponseInterface" type="Magebit\AgenticCommerce\Model\Data\Response\ErrorResponse" />
    <preference for="Magebit\AcpSpec\Api\DelegatePayment\DelegatePaymentResponseInterface" type="Magebit\AcpSpec\Data\DelegatePayment\DelegatePaymentResponse" />

    <!-- Webhook Interfaces -->
    <preference for="Magebit\AgenticCommerce\Api\Data\Webhook\WebhookEventInterface" type="Magebit\AgenticCommerce\Model\Data\Webhook\WebhookEvent" />
    <preference for="Magebit\AgenticCommerce\Api\Data\Webhook\EventDataInterface" type="Magebit\AgenticCommerce\Model\Data\Webhook\EventData" />
    <preference for="Magebit\AgenticCommerce\Api\Data\Webhook\RefundInterface" type="Magebit\AgenticCommerce\Model\Data\Webhook\Refund" />

    <!-- Custom Loggers -->
    <virtualType name="Magebit\AgenticCommerce\Logger\Handler\AgenticCommerceHandler" type="Magebit\AgenticCommerce\Logger\Handler\AgenticCommerce">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magebit\AgenticCommerce\Logger\Handler\AgenticCommerceWebhooksHandler" type="Magebit\AgenticCommerce\Logger\Handler\AgenticCommerceWebhooks">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magebit\AgenticCommerce\Logger\AgenticCommerceLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">agentic_commerce</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magebit\AgenticCommerce\Logger\Handler\AgenticCommerceHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magebit\AgenticCommerce\Logger\AgenticCommerceWebhooksLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">agentic_commerce_webhooks</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magebit\AgenticCommerce\Logger\Handler\AgenticCommerceWebhooksHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Inject Custom Logger into WebhookService -->
    <type name="Magebit\AgenticCommerce\Service\WebhookService">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceWebhooksLogger</argument>
        </arguments>
    </type>

    <!-- Inject Custom Logger into Controllers -->
    <type name="Magebit\AgenticCommerce\Controller\Checkout\Sessions\Index">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Controller\Checkout\Sessions\Update">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Controller\Checkout\Sessions\Complete">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Controller\Checkout\Sessions\Cancel">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Controller\Checkout\Sessions\Retrieve">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Controller\Delegate\Payment\Index">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <!-- Inject Custom Logger into Other Services -->
    <type name="Magebit\AgenticCommerce\Service\CheckoutSessionService">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>
    <type name="Magebit\AgenticCommerce\Cron\CleanExpiredIdempotency">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Model\Idempotency\Repository">
        <arguments>
            <argument name="logger" xsi:type="object">Magebit\AgenticCommerce\Logger\AgenticCommerceLogger</argument>
        </arguments>
    </type>

    <virtualType name="Magebit\AgenticCommerce\Model\Config\ProductFeedMapping\SchemaLocator" type="Magento\Framework\Config\GenericSchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Magebit_AgenticCommerce</argument>
            <argument name="schema" xsi:type="string">ac_product_feed_mapping_merged.xsd</argument>
            <argument name="perFileSchema" xsi:type="string">ac_product_feed_mapping.xsd</argument>
        </arguments>
    </virtualType>

    <virtualType name="ProductFeedMappingConfigReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magebit\AgenticCommerce\Model\Config\ProductFeedMapping\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magebit\AgenticCommerce\Model\Config\ProductFeedMapping\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">ac_product_feed_mapping.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/attributes" xsi:type="string">product_type</item>
                <item name="/config/attributes/mapping" xsi:type="string">id</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magebit\AgenticCommerce\Model\Config\ProductFeedMapping\Data">
        <arguments>
            <argument name="reader" xsi:type="object">ProductFeedMappingConfigReader</argument>
            <argument name="cacheId" xsi:type="string">ac_product_feed_mapping_cache</argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Model\PaymentHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="stripe" xsi:type="object">Magebit\AgenticCommerce\Model\Payment\StripePaymentsHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Model\Validation\CartValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="shipping_address" xsi:type="object">Magebit\AgenticCommerce\Model\Validation\ShippingAddressValidator</item>
                <item name="customer" xsi:type="object">Magebit\AgenticCommerce\Model\Validation\CustomerValidator</item>
            </argument>
        </arguments>
    </type>

    <type name="Magebit\AgenticCommerce\Model\Writer\CsvWriter">
        <arguments>
            <argument name="feedFilePath" xsi:type="string">export/agentic_commerce.csv</argument>
        </arguments>
    </type>

	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="ExportFeed" xsi:type="object">Magebit\AgenticCommerce\Console\Command\ExportFeed</item>
			</argument>
		</arguments>
	</type>

    <type name="Magebit\AgenticCommerce\Model\Mapping\MapperComposite">
        <arguments>
            <argument name="productTypeMappers" xsi:type="array">
                <item name="simple" xsi:type="object">Magebit\AgenticCommerce\Model\Mapping\SimpleProductMapper</item>
                <item name="configurable" xsi:type="object">Magebit\AgenticCommerce\Model\Mapping\ConfigurableProductMapper</item>
            </argument>
        </arguments>
    </type>
</config>
